Flask==2.3.3
Flask-CORS==4.0.0
Pillow==10.0.0  # Downgrade untuk kompatibilitas
gunicorn==21.2.0
requests==2.31.0
Werkzeug==2.3.7
numpy==1.23.5  # Versi yang lebih stabil dengan TF
tensorflow-cpu==2.10.1  # Versi lebih lama yang lebih stabil
